<div
    class="divGeral"
    >

    <div
        class="divComponents"
        >

        <app-menu-barra></app-menu-barra>

    </div>

    <div
        class="divCards"
        >
        <app-jogo-card
            [coluna]="1"
            imgLink="https://imgur.com/EzjQh8q.png"
            tituloJogo="HOLLOW KNIGHT SILKSONG"
            >
        </app-jogo-card>

        <app-jogo-card
            [coluna]="2"
            imgLink="https://imgur.com/qGiDlze.png"
            tituloJogo="SPELUNKY 2"
            >
        </app-jogo-card>
        
        <app-jogo-card
            [coluna]="3"
            imgLink="https://imgur.com/H0DAwVb.png"
            tituloJogo="HOTLINE MIAMI"
            >
        </app-jogo-card>
    </div>

</div>
