<div
    class="divGeral"
    >
    <div
        class="divComponents"
        >
        <div
            class="divLogo"
            >
            <img
                src="https://imgur.com/vhj5SeK.png"
            />
            <h1
                class="h1Logo"
                >PSVOID
            </h1>
        </div>
        <div
            class="divMenuOpcoes"
            >
            <h1
                >INÍCIO
            </h1>
            <h1
                >PERFIL
            </h1>
            <h1
                >AJUDA
            </h1>
        </div>
    </div>
</div>